@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;1,200&display=swap');


.content-wrapper {
    display: flex;
}

.membership-container {
    width: 40%;
}

.membership-header-section {
    text-align: left;
    padding-left: 5rem;
    margin-top: 5rem;
}

.membership-main-header {
    font-family: "Karla", sans-serif;
    font-weight: 200;
    font-size: 25px;
}

.membership-main-header h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.membership-sub-header p span {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.membership-img-section {
    padding-left: 5rem;
}

.membership-logo img {
    width: 100%;
}

.join-button {
    position: relative;
    display: inline-block;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(247, 247, 247) 0%, rgba(204, 204, 204, 1) 70%);
    color: #35776D;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 5px 28px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.features-container {
    width: 60%;
}

.features-header-section {
    font-family: "Karla", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #347b73;
    margin-top: 8rem;
    text-align: center;
}

.fh_underline-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.underline {
    border-bottom: 2px solid #ccc;
    width: 50px;
}

.features-slider-section {
    display: flex;
    justify-content: center;
    position: relative;
}

.features-btn-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unlock-btn {
    width: 50%;
    border: 1px solid grey;
    background: linear-gradient(130deg, rgba(40,184,156,1) 32%, rgba(198,197,197,0.9809173669467787) 53%, rgba(40,184,156,0.9445028011204482) 75%);
    color: white;
    padding: 8px;
    border-radius: 30px;
}

.details-btn {
    width: 30%;
    border: 1px solid grey;
    background: linear-gradient(130deg, rgba(40,184,156,1) 32%, rgba(198,197,197,0.9809173669467787) 53%, rgba(40,184,156,0.9445028011204482) 75%);
    color: white;
    padding: 8px;
    border-radius: 30px;
    margin-top: 2rem;
}

@media(max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
}