.feature-slider-wrapper {
    width: 90%;
}

.slider-card-container {
    height: 300px;
    
}

.slider-img-wrapper img {
    width: 200px;
}

.swiper-button-lock {
    display: block !important;
}

.swiper-pagination-lock {
    display: block !important;
}