@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Karla:ital@0;1&family=Poiret+One&display=swap');

.feature-slider-wrapper {
    width: 90%;
    margin-top: 3rem;
}

.slider-card-container {
    /* height: 300px; */
    border: 2px solid #35776D;
    border-radius: 10px;
}

.slider-img-wrapper img {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.slider-content-section {
    padding: 20px;
}

.slider-content-section h3 {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    color: #35776B;
}

.swiper-button-lock {
    display: block !important;
}

.swiper-pagination-lock {
    display: block !important;
}

.swiper {
    position: static !important;
}

.swiper-button-prev, 
.swiper-button-next {
    cursor: pointer !important;
    color: #ccc !important;
}

.swiper-pagination {
    top: 370px !important;
}

.swiper-slide {
    width: 230px !important;
}